.PlayerHearths-container {
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  justify-content: center;
}

.PlayerHearths-hearts {
  display: flex;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
